@import "../../variables.scss";

.top {
	display: grid;
	grid-template-columns: minmax(280px, 1fr) auto;
	align-items: center;
	gap: 20px;

	@media (max-width: 620px) {
		gap: 30px;
	}
}

.content {
	margin-top: 32px;

	.content__title {
		font-weight: 700;
		font-size: 32px;
		letter-spacing: 0.01em;
		color: $BLACK;
		margin: 0;
	}
}

.pizzas {
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 65px 35px;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.skeleton {
	width: 100% !important;
	height: auto !important;
}
