@import '../../variables.styl'

.content
    margin-top 32px

.content__title
    font-weight 700
    font-size 32px
    letter-spacing: 0.01em;
    color BLACK
    margin 0

.pizzas
    margin-top 35px
    display grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 65px 35px
            
