@import "../../variables.scss";

@keyframes logo {
	0% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(16deg);
	}
	20% {
		transform: rotate(-13deg);
	}
	30% {
		transform: rotate(8deg);
	}
	45% {
		transform: rotate(-5deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.logo {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	&:hover {
		.logo__text {
			h1 {
				color: $orange;
			}
		}
	}
}
.logo__img {
	transition: transform 0.2s ease-in;
	transform-origin: bottom;
	animation: logo 2s ease-in 0s infinite;
}
.logo__text {
	margin-left: 17px;
	h1 {
		font-size: 24px;
		letter-spacing: 0.01em;
		font-weight: 800;
		text-transform: uppercase;
		transition: 0.2s color ease-in;
		margin: 0;
	}
	p {
		margin: 0;
		font-size: 16px;
		color: #808080;
	}
}
.button {
	display: flex;
	align-items: center;
	background: $orange;
	border: 0;
	border-radius: 30px;
	padding: 16px 23px;
	cursor: pointer;
	transition: 0.123s ease-in;
	text-decoration: none;
	flex-shrink: 0;
	&:hover {
		background: #000;
	}
}
.button__line {
	width: 1px;
	height: 25px;
	opacity: 0.25;
	margin: 0 13px;
	border: 0;
	border-left: 1px solid #fff;
}
.button__img {
	vertical-align: sub;
	margin-right: 8px;
}
.button__span {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.line {
	width: calc(100% + calc(var(--container-offset) * 2));
	border: 0;
	height: 0;
	border-top: 1px solid $gray2;
	margin: 35px 0 40px calc(-1 * var(--container-offset));
}
@media (max-width: 620px) {
	.header {
		flex-wrap: wrap;
	}
}
@media (max-width: 1024px) {
	.logo__text {
		p {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.line {
		margin: 15px 0 15px calc(-1 * var(--container-offset));
	}
}
@media (max-width: 530px) {
	.logo__text {
		margin-left: 10px;
		h1 {
			max-width: 80px;
		}
	}
	.button__line {
		margin: 0 7px;
	}
}
