@import '../../variables.styl'

.top
    display grid
    grid-template-columns: minmax(280px, 1fr) auto
    align-items center
    gap: 20px

.navigation
    flex-grow 1
    flex-shrink: 0
    display flex
    overflow: auto
    align-items center
    gap: 8px
    padding-bottom: 20px
    margin-bottom -20px
    button
        padding 14px 27px
        border: 0
        font-weight 700
        font-size 16px
        letter-spacing .015em
        border-radius 30px
        cursor pointer
        transition .2s background ease-in, .2s color ease-in, .2s opacity ease-in
        &:not(.active):hover
            opacity .8
            background dark
            color white
        &.active
            background-color dark
            color white

.select
    position relative
    &__button
        font-size 14px
        &:hover
            img
                transform rotate(90deg) !important
        img
            margin-right 7px
            transition .123s transform ease-in
        b
            transition .123s color ease-in
            letter-spacing: 0.015em;
            margin-right 8px
        button
            letter-spacing: 0.015em;
            color orange
            background-image url("data:image/svg+xml,%3Csvg width='90' height='1' viewBox='0 0 90 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='90' y2='0.5' stroke='%23FE5F1E' stroke-dasharray='1 1'/%3E%3C/svg%3E");
            background-size auto 1px
            background-position-y bottom
            background-repeat repeat-x
            padding 0 0 3px 0
            margin 0 0 -3px 0
            display inline-block
            background-color transparent
            border 0
            cursor pointer
    &__list
        display flex
        flex-direction column
        position absolute
        z-index 10
        background white
        right 0
        top calc(100% + 10px)
        padding 13px 0 9px
        border-radius 10px
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        overflow hidden
        opacity 0
        visibility hidden
        transition .2s opacity ease-in, .2s visibility ease-in
        button
            margin-top -100%
            background 0
            border 0
            padding 10px 22px 11px 14px
            text-align left
            cursor pointer
            font-size 14px
            letter-spacing .015em
            transition .123s background ease-in,
                .2s margin-top ease-in
            &:not(&.button-active):hover
                background rgba(254, 95, 30, 0.05)
            &.button-active
                background rgba(254, 95, 30, 0.08)
                color orange
                font-weight 700
        &.active
            opacity 1
            visibility visible
            transition .3s opacity ease-in,
                .3s visibility ease-in
            button
                margin-top 0

@media (max-width: 620px)
    .top
        display flex
        flex-direction: column
        align-items flex-start
        gap: 30px

    .navigation
        width 100%
