.form
    flex: 1
    max-width: 550px
    &:hover &__input
        box-shadow: 0 0 10px rgba(50, 50, 50, 0.2)
    &__label
        display flex
        align-items center
        background url('./search.svg') no-repeat 10px center
        width 100%
        position relative
    &__input
        padding 8px 50px 8px 40px
        border: 2px solid rgb(50, 50, 50)
        border-radius: 10px
        background 0
        margin 0
        outline: none
        font-size 16px
        flex: 1
        transition: box-shadow .2s linear
        &:not(:placeholder-shown)
            box-shadow: 0 0 10px rgba(50, 50, 50, 0.05)
            & + .form__button
                display block
        &:focus, &:hover
            box-shadow: 0 0 10px rgba(50, 50, 50, 0.2)
    &__button
        line-height 0
        padding 0
        margin 0
        background 0
        border: 0
        cursor: pointer
        position: absolute
        right 15px
        display none
        opacity: .9
        transition: opacity .123s ease-in
        &:hover, &:focus
            opacity: 1
        img
            width 24px
            height 24px

@media (max-width: 768px)
    .form
        &__input
            padding-right 40px
        &__button
            right 10px

@media (max-width: 620px)
    .form
        order: 1
        width 100%
        max-width: 100%
        