@import './variables.styl'

// шрифты
@font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/ProximaNova-Bold.eot');
    src: url('../public/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../public/fonts/ProximaNova-Bold.woff') format('woff'),
        url('../public/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/ProximaNova-ExtraBold.eot');
    src: url('../public/fonts/ProximaNova-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ProximaNova-ExtraBold.woff2') format('woff2'),
        url('../public/fonts/ProximaNova-ExtraBold.woff') format('woff'),
        url('../public/fonts/ProximaNova-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/ProximaNova-Regular.eot');
    src: url('../public/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../public/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../public/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// цсс
:root
    --container-offset: 70px

*
    box-sizing border-box
  
body
    margin 0
    padding 0
    font-family 'Proxima Nova', sans-serif
    color black

.Wrapper
    background bg-yellow
    padding 43px 0 63px
    &__inner
        max-width 1375px
        padding 50px var(--container-offset) 100px
        margin 0 auto
        background white
        border-radius 10px
        min-height calc(100vh - 43px)
        display flex
        flex-direction column

.main
    flex-grow 1
    display flex
    flex-direction: column

@media (max-width: 1024px)
    :root
        --container-offset: 40px

@media (max-width: 768px)
    :root
        --container-offset: 20px